* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    width: 100%;
    background-color: rgba(255, 0, 255, 0.658);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: sticky;   /* use fixed instead of sticky */
    top: 0;
    left: 0;
    transition: top 0.3s;
}


.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.518);
    margin: 5px;
    border-radius: 8px;
}
.nav ul li:hover {
    background-color: blue;
}

.nav ul li a:hover {
    color:black;
}
ul li a {
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    background-color: white;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.Login button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.myCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.myCart button {
    padding: 10px;
    border:none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.myCart img {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color:green;
}

.logo span {
    color:white;
}
main{
    width: 100%;
}
#slider {
    width: 100%;
    height: 271.61px;
    cursor: pointer;
    margin-top: 10px;
}

#slider img {
    width: 100%;
    height: 100%;
}

#Product {
    text-align: center;
    margin-top: 30px;
}

.p1 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    cursor: pointer;
}
.p {
    width: 100%;
    height: 100%;
    background-color: green;
    margin: 2px;
}

.p img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: black;
    padding: 20px 0px;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul li {
    padding: 10px;
}
.copy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copy label{
    color:white;
    font-weight: bold;
    margin-top: 10px;
}

